<article class="post-item">

  <h5>
    <a class="post-item__title" href="<%= url_for(post.path) %>" title="<%= post.title %>"><%= post.title %></a>

    <p class="post__meta">
      <%- partial('date') %>
      <%- partial('../utilities/pipe') %>
      <%- partial('lang') %>
    </p>
  </h5>

  <div class="post-item__excerpt">
    <%- post.excerpt %>
  </div>

  <a class="button" href="<%= url_for(post.path) %>" title="_p('read_more_title', post.title)"><%= __('read_more') %> »</a>

</article>
