<div class="docs-section">
  <h6 class="docs-header">
    <%- partial('title') %>

    <br />
    
    <%- partial('date') %>
    <small>&nbsp; | &nbsp;</small>
    <%- partial('lang') %>
  </h6>

  <p>
    <%- post.excerpt %>
  </p>

  <%- partial('read-more') %>
</div>