<a class="site-branding" href="/">
  <img class="site-branding__logo" src="/assets/images/favicon.svg" alt="Junior Oliveira's blog">

  <h1 class="site-branding__title--full">
    <%= config.title %>
  </h1>

  <h1 class="site-branding__title--short">
    <%= config.short_title %>
  </h1>
</a>

<ul class="menu">
  <% if (site.posts.withCategories(['poem']).length > 0) { %>
  <li class="menu-item">
    <a href="/poems" title="<%= __('poem.all') %>">
      <img class="menu-item__img" src="/assets/images/menu/poem.svg" alt="<%= __('poem.all') %>">
    </a>
  </li>
  <% } %>

  <% if (site.posts.withCategories(['poem']).length > 0) { %>
  <li class="menu-item">
    <%- partial('_utilities/pipe') %>
  </li>
  <% } %>

  <li class="menu-item">
    <a class="menu-item__icon" href="/x-wing" title="Star Wars: X-Wing"><i class="xf xf-coordinate"></i></a>
  </li>

  <li class="menu-item">
    <%- partial('_utilities/pipe') %>
  </li>

  <li class="menu-item">
    <a class="menu-item__icon fas fa-search" href="/search" title="<%= __('post.search') %>"></a>
  </li>
</ul>
