<strong>Execute Maneuver</strong>
<ol type="i">
  <li>
    <strong>Maneuver Ship</strong>
    <br>
    <div class="note">
      <ul>
        <li title="ION (p.13)" tabindex="0">
          if <%- xw_token('ion') %>
          <ul>
            <li>perform a <span class="blue">blue</span> <strong>1</strong> [ <span class="blue"><%- xw_symbol('bankleft') %> <%- xw_symbol('straight') %> <%- xw_symbol('bankright') %></span> ] with the same direction shown on the <strong>dial</strong>;</li>
          </ul>
        </li>

        <li>
          if move through
          <ul>
            <li>
              an <strong>obstacle</strong>
              <ul>
                <li title="OBSTACLES, Asteroid (p.15)" tabindex="0">
                  <strong>asteroid</strong>
                  <ul>
                    <li>suffers <strong>1</strong> <%- xw_symbol('hit') %>;</li>
                    <li>
                      roll <strong>1</strong> <span class="red">attack die</span>, if:
                      <ul>
                        <li><%- xw_symbol('hit') %>, suffers <strong>1</strong> <%- xw_symbol('hit') %>;</li>
                        <li><%- xw_symbol('crit') %>, suffers <strong>1</strong> <%- xw_symbol('hit') %>;</li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li title="OBSTACLES, Blaze (p.15)" tabindex="0">
                  <strong>blaze</strong>
                  <ul>
                    <li>
                      roll <strong>1</strong> <span class="red">attack die</span>, if:
                      <ul>
                        <li><%- xw_symbol('hit') %>, suffers <strong>1</strong> <%- xw_symbol('hit') %>;</li>
                        <li><%- xw_symbol('crit') %>, suffers <strong>1</strong> <%- xw_symbol('hit') %>;</li>
                        <li><%- xw_symbol('focus') %>, add <strong>1</strong> <%- xw_token('stress') %>;</li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li title="OBSTACLES, Debris Cloud (p.15)" tabindex="0">
                  <strong>debris cloud</strong>
                  <ul>
                    <li>add <strong>1</strong> <%- xw_token('stress') %>;</li>
                    <li>
                      roll <strong>1</strong> <span class="red">attack die</span>, if:
                      <ul>
                        <li><%- xw_symbol('hit') %>, suffers <strong>1</strong> <%- xw_symbol('hit') %>;</li>
                        <li><%- xw_symbol('crit') %>, suffers <strong>1</strong> <%- xw_symbol('crit') %>;</li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li title="OBSTACLES, Electro-Chaff Cloud (p.15)" tabindex="0">
                  <strong>electro-chaff cloud</strong>
                  <ul>
                    <li>remove all <%- xw_symbol('lock') %> from this ship and on this ship;</li>
                    <li>add <strong>1</strong> <%- xw_token('jam') %>;</li>
                    <li>
                      roll <strong>1</strong> <span class="red">attack die</span>, if:
                      <ul>
                        <li><%- xw_symbol('hit') %>, add <strong>1</strong> <%- xw_token('stress') %>;</li>
                        <li><%- xw_symbol('crit') %>, add <strong>1</strong> <%- xw_token('stress') %>;</li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li title="OBSTACLES, Gas Cloud (p.15)" tabindex="0">
                  <strong>gas cloud</strong>
                  <ul>
                    <li>remove all <%- xw_symbol('lock') %> from this ship and on this ship;</li>
                    <li>add <strong>1</strong> <%- xw_token('strain') %>;</li>
                    <li>
                      roll <strong>1</strong> <span class="red">attack die</span>, if:
                      <ul>
                        <li><%- xw_symbol('hit') %>, add <strong>1</strong> <%- xw_token('ion') %>;</li>
                        <li><%- xw_symbol('crit') %>, add <strong>3</strong> <%- xw_token('ion') %>;</li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li title="OBSTACLES, Loose Cargo (p.15)" tabindex="0">
                  <strong>loose cargo</strong>
                  <ul>
                    <li>add <strong>1</strong> <%- xw_token('strain') %>;</li>
                    <li>
                      roll <strong>1</strong> <span class="red">attack die</span>, if:
                      <ul>
                        <li><%- xw_symbol('hit') %>, add <strong>1</strong> <%- xw_token('stress') %>;</li>
                        <li><%- xw_symbol('crit') %>, add <strong>1</strong> <%- xw_token('stress') %>;</li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li title="OBSTACLES, Spare Parts (p.15)" tabindex="0">
                  <strong>spare parts</strong>
                  <ul>
                    <li>add <strong>1</strong> <%- xw_token('strain') %>;</li>
                    <li>
                      roll <strong>1</strong> <span class="red">attack die</span>, if:
                      <ul>
                        <li><%- xw_symbol('hit') %>, add <strong>1</strong> <%- xw_token('stress') %>;</li>
                        <li><%- xw_symbol('crit') %>, add <strong>1</strong> <%- xw_token('stress') %>;</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li>
          if overlapped
          <ul>
            <li>
              an <strong>obstacle</strong>
              <ul>
                <li title="OBSTACLES (p.15)" tabindex="0">
                  <strong>asteroid</strong> or <strong>debris cloud</strong>
                  <ul>
                    <li>cannot perform attacks;</li>
                  </ul>
                </li>

                <li title="OBSTACLES (p.15)" tabindex="0">
                  <strong>electro-chaff cloud</strong> or <strong>gas cloud</strong>
                  <ul>
                    <li>cannot acquire <%- xw_symbol('lock') %>;</li>
                    <li>cannot be <%- xw_symbol('lock') %>;</li>
                  </ul>
                </li>
              </ul>
            </li>

            <li title="OVERLAP (p.16)" tabindex="0">
              a <strong>friendly</strong> or <strong>allied</strong> ship
              <ul>
                <li>
                  roll <strong>1</strong> <span class="red">attack die</span>, if:
                  <ul>
                    <li><%- xw_symbol('hit') %>, add <strong>1</strong> <%- xw_symbol('hit') %>;</li>
                    <li><%- xw_symbol('crit') %>, add <strong>1</strong> <%- xw_symbol('hit') %>;</li>
                  </ul>
                </li>
                <li>skips its <strong>Perform Action step</strong>;</li>
              </ul>
            </li>

            <li title="OVERLAP (p.16)" tabindex="0">
              a <strong>enemy</strong> ship
              <ul>
                <li>
                  if not <%- xw_token('stress') %>:
                  <ul>
                    <li>may add a <%- xw_token('focus') %> or <%- xw_token('calculate') %> from its <strong>action bar</strong>;</li>
                  </ul>
                </li>
                <li>skips its <strong>Perform Action step</strong>;</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </li>

  <li>
    <strong>Check Difficulty</strong>
    <br>
    <div class="note">
      <ul>
        <li>
          if the <strong>maneuver</strong> is:
          <ul>
            <li title="MANEUVER, Check Difficulty (p.15)" tabindex="0">
              <span class="red">red</span>
              <ul>
                <li>add <strong>1</strong> <%- xw_token('stress') %>;</li>
              </ul>
            </li>

            <li title="MANEUVER, Check Difficulty (p.15)" tabindex="0">
              <span class="blue">blue</span>
              <ul>
                <li>remove <strong>1</strong> <%- xw_token('stress') %>;</li>
                <li>remove <strong>1</strong> <%- xw_token('strain') %>;</li>
                <li>remove <strong>1</strong> <%- xw_token('deplete') %>;</li>
              </ul>
            </li>

            <li title="DIFFICULTY (p.11)" tabindex="0">
              <span class="purple">purple</span>
              <ul>
                <li>spend <strong>1</strong> <%- xw_token('force') %>;</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </li>
</ol>
