<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Cache-Control" content="max-age=604800" />

  <%
    var title = '';
    if (page.title) {
      title = `${page.title} ~ `;
    } else if (is_tag()) {
      title = `${page.tag} ~ `;
    }
    title += config.title;

    var type = page.title ? 'article' : 'website';
    var description = page.description || config.description;
    var tags = page.tags ? page.tags.map(tag => tag.name) : ['delphi', 'php', 'csharp'];
  %>

  <title>
    <%= title %>
  </title>

  <meta name="viewport" content="width=device-width" />
  <meta name="author" content="<%= config.author %>" />
  <meta name="title" content="<%= title %>" />
  <meta name="description" content="<%= description %>" />
  <meta name="keywords" content="<%= tags.join(',') %>" />
  <meta name="robots" content="index, follow" />
  <meta name="theme-color" content="#C1A8B2" />

  <meta property="og:type" content="<%= type %>" />
  <meta property="og:site_name" content="<%= config.title %>" />
  <meta property="og:url" content="<%= config.url %>" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />

  <link rel="icon" href="/assets/images/favicon.png" async />
  <link rel="manifest" href="/manifest.json" async />
  <link rel="stylesheet" href="/assets/styles/main.css" async />

  <%- partial('_widget/google-analytics') %>
</head>

<body>

  <header class="site-header">
    <%- partial('_partial/site/header') %>
  </header>

  <main class="site-main">
    <%- body %>

    <aside>
      <%- partial('_widget/disqus-comments') %>
    </aside>
  </main>

  <footer class="site-footer">
    <%- partial('_partial/site/footer') %>
  </footer>

  <noscript>
    <p>Please enable JavaScript on your browser</p>
  </noscript>

  <script async defer type="text/javascript">
    if ('serviceWorker' in navigator) {
      navigator
        .serviceWorker
        .register('/service-worker.js')
        .catch(console.warn);
    }
  </script>

</body>

</html>
