<article>

  <h2 class="title">
    <%= page.title %>

    <p class="post__meta">
      <%- partial('_partial/post/date', {post: page}) %>
      <%- partial('_partial/utilities/pipe') %>
      <%- partial('_partial/post/comments', {post: page}) %>
      <%- partial('_partial/utilities/pipe') %>
      <%- partial('_partial/post/tag', {post: page}) %>
      <%- partial('_partial/utilities/pipe') %>
      <%- partial('_partial/post/lang', {post: page}) %>
    </p>
  </h2>

  <div>
    <%- page.content %>
  </div>

</article>
